// Testimonial Style 
.testimonial-area{
	background: #403148;
    padding: 100px 0;
    @media #{$desktop-device}{
        padding: 75px 0;
    }
    @media #{$tablet-device}{
        padding: 60px 0;
    }
    @media #{$large-mobile}{
        padding:50px 0;
    }
    & .testi-title{
    	text-align: center;
    	& h2{
    		margin: 0;
		    position: relative;
		    text-transform: uppercase;
		    font-weight: 700;
		    line-height: 1;
		    display: block;    
		    font-size: 40px;
		    color: #fff;
	        @media #{$tablet-device}{
	            font-size: 36px;
	        }
	        @media #{$large-mobile}{
	            font-size: 32px;
	        }
	        @media #{$small-mobile}{
	            font-size: 28px;
	        }
	        @media #{$extra-small-mobile}{
	            font-size: 28px;
        	}
    	}
    }
	.testimonial-slider-wrapper{
	    margin-top: 60px;
	.testimonial-slider-item {
	    text-align: center;
	    .img_author{
	    	    width: 140px;
			    margin-bottom: 40px;
			    display: inline-block;
	    	& img{

	    	}
	    }
	    .des_testimonial {
		    font-weight: 400;
		    font-size: 28px;
		    line-height: 40px;
		    text-transform: capitalize;
		    color: #fff;
		    max-width: 1100px;
		    margin: auto;
		    margin-bottom: 40px;
		    @media #{$large-mobile}{
		    	font-size: 22px;
		    	line-height: 36px;
		    }
		}
		.des_inner {
		    display: inline-block;
		    text-align: left;
		    padding-left: 80px;
		    position: relative;
		    &:before {
			    content: "“";
			    position: absolute;
			    top: -15px;
			    left: 0px;
			    font-size: 120px;
			    font-family: "Playfair Display", serif;   
			    color: #f2ab00;
			}
			.des_namepost {
			    position: relative;
			    font-size: 28px;
			    font-weight: 700;
			    line-height: 34px;
			    display: block;
			    text-transform: capitalize;
			    display: inline-block;
			    color: $theme-color;
			}
			.des_email {
			    font-weight: 700;
			    font-size: 14px;
			    line-height: 28px;
			    text-transform: uppercase;
			    color: #fff;
			}
		}
	}
}
	&.testimonial-area-2{
		.testimonial-slider-wrapper{
			padding: 0;
			margin-top: 30px;
			.testimonial-slider-item{

				.testimonial-content{
					background: #ea1b25;
				    text-align: left;
				    padding: 25px 20px;
				    position: relative;
					a{
						color:#fff;
						margin-top: 37px;
						&:hover{
							color:#222;
						}
					}
					&:before{
			    		background: url(../images/testimonial-image/icon_ttm-2.png) center no-repeat;
			    		right: auto;
			    		left: 20px;
			    		top:25px;
					}
					&:after {
					    content: "";
					    border: 10px solid transparent;
					    border-top-color: #ea1b25;
					    position: absolute;
					    left: 54px;
					    bottom: -20px;
					}
				}
				.d-grid{
					padding: 20px 20px 15px 20px;
				    text-align: left;
				    display: grid;
				    grid-template-columns: 90px auto;
				    align-items: center;
					.testimonial-image{
						margin: 0;
						img{
							max-width: 100%;
						}
					}
					.testimonial-author{
						padding-left: 10px;
						h4{
							margin-top: 10px;
						}
						.rating-product{
							line-height: 1;
						    font-size: 16px;
						    color: #FAB311;
						    @media #{$desktop-device}{
						    	font-size: 14px;
						    }
						}
					}
				}
			}
		}
	}
}


.slider-dot-style-1{
	.slick-dots {
		text-align:center;
		margin-top: 10px;
	    li {
	    width: 12px;
	    height: 12px;
	    border-radius: 100%;
	    background: #e2e2e2;
	    border: 1px solid transparent;
	    margin: 5px;
	    display: inline-block;
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    opacity: 1;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    font-size: 0px;
	    &.slick-active{
		    border: 1px solid $theme-color;
		    background: #fff;
		    }
		    &:hover{
		    	background-color:$theme-color;
		    }
		}
	}
}